<div class="page-header">
  <%= link_to payment_transactions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show payment_transaction</h1>
</div>

<dl class="dl-horizontal">
  <dt>Uuid:</dt>
  <dd><%= @payment_transaction.uuid %></dd>

  <dt>Merchant:</dt>
  <dd><%= @payment_transaction.merchant_id %></dd>

  <dt>Payment transaction:</dt>
  <dd><%= @payment_transaction.payment_transaction_id %></dd>

  <dt>Status:</dt>
  <dd><%= @payment_transaction.status %></dd>

  <dt>Type:</dt>
  <dd><%= @payment_transaction.type %></dd>

  <dt>Amount:</dt>
  <dd><%= @payment_transaction.amount %></dd>

  <dt>Customer email:</dt>
  <dd><%= @payment_transaction.customer_email %></dd>

  <dt>Customer phone:</dt>
  <dd><%= @payment_transaction.customer_phone %></dd>

</dl>
